{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %} 
<div class="row" id="taskobra-metrics-pane">
  <div class="col-md-2">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-pill nav-link active" id="v-pills-overall-tab" data-toggle="pill" href="#v-pills-overall" role="tab" aria-controls="v-pills-overall" aria-selected="true">Overall</a>
      <a class="nav-pill nav-link" id="v-pills-cpu-tab" data-toggle="pill" href="#v-pills-cpu" role="tab" aria-controls="v-pills-cpu" aria-selected="false">CPU</a>
      <a class="nav-pill nav-link" id="v-pills-gpu-tab" data-toggle="pill" href="#v-pills-gpu" role="tab" aria-controls="v-pills-gpu" aria-selected="false">GPU</a>
      <a class="nav-pill nav-link" id="v-pills-memory-tab" data-toggle="pill" href="#v-pills-memory" role="tab" aria-controls="v-pills-memory" aria-selected="false">Memory</a>
      <a class="nav-pill nav-link" id="v-pills-storage-tab" data-toggle="pill" href="#v-pills-storage" role="tab" aria-controls="v-pills-storage" aria-selected="false">Storage</a>
    </div>
  </div>
  <div class="col-md-10">
    <!-- 
        TODO: Two options with this section
            1) Use javascript callbacks with the above nav-pill hrefs and redraw a single canvas
            2) Render a seperate canvas for each metric below and keep (might be easier/faster)
    -->
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-overall" role="tabpanel" aria-labelledby="v-pills-overall-tab">
          Overall
      </div>
      <div class="tab-pane fade" id="v-pills-cpu" role="tabpanel" aria-labelledby="v-pills-cpu-tab">
          cpu
      </div>
      <div class="tab-pane fade" id="v-pills-gpu" role="tabpanel" aria-labelledby="v-pills-gpu-tab">
          gpu
      </div>
      <div class="tab-pane fade" id="v-pills-memory" role="tabpanel" aria-labelledby="v-pills-memory-tab">
          memory
      </div>
      <div class="tab-pane fade" id="v-pills-storage" role="tabpanel" aria-labelledby="v-pills-storage-tab">
          storage
      </div>
    </div>
  </div>

</div>
{% endblock %}