{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %} 
<div class="container-fluid">
  <!--
      # Top Section of Body (Tabs/Graphs)
  -->
  <div class="row" id="taskobra-metrics-pane">
    <!--
        # Left-Side Tabs Selectors 
    -->
    <div class="col-md-2">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-pill nav-link" id="v-pills-cpu-tab" data-toggle="pill" href="#v-pills-cpu" role="tab" aria-controls="v-pills-cpu" aria-selected="false">CPU</a>
        <a class="nav-pill nav-link" id="v-pills-gpu-tab" data-toggle="pill" href="#v-pills-gpu" role="tab" aria-controls="v-pills-gpu" aria-selected="false">GPU</a>
        <a class="nav-pill nav-link" id="v-pills-memory-tab" data-toggle="pill" href="#v-pills-memory" role="tab" aria-controls="v-pills-memory" aria-selected="false">Memory</a>
        <a class="nav-pill nav-link" id="v-pills-storage-tab" data-toggle="pill" href="#v-pills-storage" role="tab" aria-controls="v-pills-storage" aria-selected="false">Storage</a>
      </div>
    </div>
    <div class="col-md-10">
      <!-- 
          # Right-Side Graph Canvas Panes 
          TODO: Two options with this section
              1) Use javascript callbacks with the above nav-pill hrefs and redraw a single canvas
              2) Render a seperate canvas for each metric below and keep (might be easier/faster)
      -->
      <div class="tab-content" id="v-pills-tabContent">

        <!-- CPU Chart -->
        <div class="tab-pane fade" id="v-pills-cpu" role="tabpanel" aria-labelledby="v-pills-cpu-tab">
          <h2> CPU Utilization </h2>
          <div class="taskobra-chart" id="taskobra-cpu-chart" data-metric-type="cpu"></div>
        </div>

        <!-- GPU Chart -->
        <div class="tab-pane fade" id="v-pills-gpu" role="tabpanel" aria-labelledby="v-pills-gpu-tab">
          <h2> GPU Utilization </h2>
          <div class="taskobra-chart" id="taskobra-gpu-chart" data-metric-type="gpu"></div>
        </div>

        <!-- Memory Chart -->
        <div class="tab-pane fade" id="v-pills-memory" role="tabpanel" aria-labelledby="v-pills-memory-tab">
          <h2> Memory Utilization </h2>
          <div class="taskobra-chart" id="taskobra-memory-chart" data-metric-type="memory"></div>
        </div>

        <!-- Storage Chart -->
        <div class="tab-pane fade" id="v-pills-storage" role="tabpanel" aria-labelledby="v-pills-storage-tab">
          <h2> Storage Utilization </h2>
          <div class="taskobra-chart" id="taskobra-stoage-chart" data-metric-type="storage"></div>
        </div>

      </div>
    </div>
  </div>

  <!--
      # Bottom Section of Body (Host List)
  -->
  <div class="row" id="taskobra-hostlist-pane">
      <!-- 
          Template for adding things to the list of hosts
          Not actually rendered on the page, only used in the JS
      -->
      <template id="taskobra-hostlist-entry">
        <tr>
          <th scope="row">
            <div class="form-check d-flex align-items-center justify-content-center">
              <input class="form-check-input position-static hostlist-checkbox" type="checkbox" value="" aria-label="Select host">
            </div>
          </th>
          <td class="hostlist-name"></td>
          <td class="hostlist-cores"></td>
          <td class="hostlist-memory"></td>
          <td class="hostlist-storage"></td>
        </tr>
      </template>
    
      <!-- Hostlist table section -->
      <div class="col" id="taskobra-hostlist">
        <table class="table table-hover" id="taskobra-hostlist-table">
          <thead id="taskobra-hostlist-header">
            <tr>
              <th scope="col"></th>
              <th scope="col">Hostname</th>
              <th scope="col">Cores</th>
              <th scope="col">Memory</th>
              <th scope="col">Storage</th>
            </tr>
          </thead>
          <tbody id="taskobra-hostlist-entries">
            <!--
                This is where the actual content would be inserted
            -->
          </tbody>
        </table>
    </div>
  </div>
</div>

{% endblock %}